@import "primeicons/primeicons.css";

.habit-card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding-top: 30px;
	border-radius: 20px;

	.habit-card-background {
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		min-height: 35px;

		.habit-card-icon {
			float: right;
			margin-top: 9px;
			margin-right: 17px;
			scale: 1.3;
			opacity: 0.7;
			// rotate: 0deg;
		}
	}

	.habit-card-inside {
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(5px);
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		padding: 20px;
		display: flex;
		flex-direction: column;

		.habit-card-header {
			font-weight: 400;
			color: white;
			padding-bottom: 10px;
		}

		.habit-card-content {
			font-weight: 700;
			font-size: large;
			color: white;
			padding-bottom: 20px;
		}

		.habit-card-button {
			border-radius: 10px;
			margin: 5px;
			margin-left: auto;
		}
	}
}