<div class="habit-card">
    <div class="habit-card-background" [style.background-color]="habit.bgColor">
        <div class="habit-card-icon">
            <span [class]="habit.icon"></span>
        </div>
    </div>
    <div class="habit-card-inside">
        <button class="icon-button habit-card-button" (click)="edit.emit(habit.id)">
            <span class="pi pi-ellipsis-h"></span>
        </button>
        <div class="habit-card-header habit-card-name"><span>{{ habit.name }}</span></div>
        <div class="habit-card-content habit-card-hours"><span>{{ habit.hours }} hours</span></div>
        
        <button class="icon-button habit-card-button" (click)="addOccurrence.emit(habit.id)">
            <span class="pi pi-plus"></span>
        </button>
    </div>
</div>