<div class="feature-card">
  <span class="card__close-btn pi pi-times" [routerLink]="['']"></span>

  <p class="text">{{habitName}}</p>
  <form [formGroup]="form">
    <span class="p-float-label">
      <p-calendar id="start-date" dateFormat="dd.mm.yy" [showTime]="true" [showIcon]="true" [showButtonBar]="true" formControlName="startDate"></p-calendar>
      <label for="start-date">{{ 'occurrence.start-date' | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-calendar id="end-date" dateFormat="dd.mm.yy" [showTime]="true" [showIcon]="true" [showButtonBar]="true" formControlName="endDate"></p-calendar>
      <label for="end-date">{{ 'occurrence.end-date' | translate }}</label>
    </span>
    <div class="buttonRow">
      <p-button class="button" (click)="onCancel()" [label]="'button.cancel' | translate" styleClass="p-button-danger"></p-button>
      <p-button class="button" (click)="onAdd()" [label]="'button.add' | translate" styleClass="p-button-success"></p-button>
    </div>
  </form>
</div>
