<div class="auth-card">
  <p class="text">{{'header.login' | translate}}</p>
  <form [formGroup]="form">
    <span class="p-float-label">
      <input pInputText id="username" type="text" formControlName="username" />
      <label for="username">{{ 'login.username' | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
      <label for="password">{{ 'login.password' | translate }}</label>
    </span>

    <div class="buttonRow">
      <p-button class="button" styleClass="p-button-success" [label]="'button.login' | translate" (click)="onLogin()"></p-button>
    </div>
    <div class="buttonRow">
      <a [routerLink]="['', 'register']">{{ 'login.register' | translate }}</a>
    </div>
  </form>
</div>
