.p-float-label {
    margin-bottom: 30px;
}

.p-element {
    width:100%;
    display: flex;
    justify-content: center;
}

// .buttonRow {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 3vh;

//     .button {
//         margin-left:2vb;
//         margin-right:2vb;
//     }

//     // a {
//     //     color: white;
//     //     font-family: Arial, Helvetica, sans-serif;
//     //     text-decoration: underline;
//     // }
//     // a:hover {
//     //     color:gray;
//     // }
// }
  
  