<div class="habit-card-container">
  <app-habit
  *ngFor="let habit of habitsStorage.habits$ | async"
  [habit]="habit"
  (edit)="editHabit($event)"
  (addOccurrence)="addHabitOccurrence($event)">
  </app-habit>

  <div class="habit-card">
    <div class="habit-card-background " style="background-color: white;">
    </div>
    <div class="habit-card-inside">
        <span class="pi pi-plus" (click)="addHabit()"></span>
    </div>
  </div>
</div>


<button (click)="toast.showSuccess('success', 'Success Message')">show success</button>
<button (click)="toast.showError('error', 'Error Message')">show error</button>
<button (click)="toast.showInfo('info', 'Info Message')">show info</button>
<button (click)="toast.showWarning('warning', 'Warning Message')">show warning</button>
<p-toast></p-toast>
