<div class="habit-card-container">
  <app-habit
  *ngFor="let habit of habitsStorage.habits$ | async"
  [habit]="habit"
  (edit)="editHabit($event)"
  (addOccurrence)="addHabitOccurrence($event)">
  </app-habit>
</div>

<p>{{ 'test.key' | translate }}</p>

<button (click)="toast.showSuccess('success', 'Success Message')">show success</button>
<button (click)="toast.showError('error', 'Error Message')">show error</button>
<button (click)="toast.showInfo('info', 'Info Message')">show info</button>
<button (click)="toast.showWarning('warning', 'Warning Message')">show warning</button>
<p-toast></p-toast>
