<div class="navigation">
    <p-sidebar [(visible)]="isToolbarVisible" position="left" class="sidebar-container">
        <div class="sidebar" (click)="isToolbarVisible = false">
            <p class="navigation-element">
                <a [routerLink]="['', 'habits']">{{ 'navigation.habits' | translate }}</a><br/>
            </p>
            <p class="navigation-element">
                <a [routerLink]="['', 'statistics']">{{ 'navigation.statistics' | translate }}</a><br/>
            </p>
            <p class="navigation-element">
                <a [routerLink]="['', 'report-issue']">{{ 'navigation.report-issue' | translate }}</a><br/>
            </p>
            <p class="navigation-element">
                <a [routerLink]="['', 'settings']">{{ 'navigation.settings' | translate }}</a><br/>
            </p>

            <button (click)="authStorage.logOut()">{{ 'navigation.log-out' | translate }}</button>
        </div>
    </p-sidebar>

    <p-button type="text" (click)="isToolbarVisible = true" icon="pi pi-list" label="Menu"></p-button>
</div>
